<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DragAndDropMultipleFilesForLinux.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DragAndDropMultipleFilesForLinux.My.MySettings>
            <setting name="ClearListOnDragAndDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearListOnExecute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartLinux" serializeAs="String">
                <value />
            </setting>
            <setting name="LinuxCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="LinuxArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="FileList" serializeAs="String">
                <value />
            </setting>
            <setting name="Disable64BitFileRedirects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
        </DragAndDropMultipleFilesForLinux.My.MySettings>
    </userSettings>
</configuration>